<ion-content>
    <figure class="ion-padding ion-text-center">
        <img class="ion-no-margin" src="assets/undraw_Login_re_4vu2.svg" alt="">
    </figure>

    <div class="ion-text-center ion-padding">
        <h2>¡Hola, bienvenido!</h2>
        <p>
            ¿Esta es tu primera vez? <br>
            Ingresa con tu cuenta de Google
        </p>

        <ion-button size="block" (click)="login()">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Entrar
        </ion-button>
    </div>
</ion-content>