<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="presentCreateHomeModal()">
                <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ title }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container" [hidden]="homes.length > 0">
        <figure>
            <img src="/assets/void.svg" alt="No data">
        </figure>
        <!-- <strong class="capitalize">{{ folder }}</strong> -->
        <p>
            Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI</a>
        </p>
    </div>

    <ion-card *ngFor="let home of homes">
        <ion-card-header>
            <ion-card-title>{{home.name}}</ion-card-title>
        </ion-card-header>

        <ion-item [routerLink]="['/home', home.id]">
            <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
            <ion-label>{{home.description}}</ion-label>
        </ion-item>
    </ion-card>
</ion-content>