<ion-header translucent>
    <ion-toolbar>
        <ion-title>Crear Hogar</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="full" class="ion-no-margin">
        <ion-list-header lines="full">
            <ion-label>Información</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input placeholder="Nombre"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-input placeholder="Descripción (opcional)"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Dirección</ion-label>
            <ion-input placeholder="Dirección (opcional)"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-input placeholder="Descripción"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list lines="full" class="ion-no-margin">
        <ion-list-header lines="full">
            <ion-label>Miembros</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>1.</ion-label>
            <ion-input placeholder="miembro#1234"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>