<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <!-- Tab bar -->
        <ion-tab-bar slot="bottom" selected-tab="analytics">
            <ion-tab-button tab="analytics">
                <ion-icon name="analytics-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="members">
                <ion-icon name="people-outline"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="expenses">
                <ion-icon name="cart-outline"></ion-icon>
            </ion-tab-button>
    
            <ion-tab-button tab="contributions">
                <ion-icon name="cash-outline"></ion-icon>
            </ion-tab-button>
    
            <!-- <ion-tab-button tab="settings">
                <ion-icon name="cog-outline"></ion-icon>
            </ion-tab-button> -->
        </ion-tab-bar>
    </ion-tabs>
</ion-content>